
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1503883210888'); /* IE9*/
  src: url('iconfont.eot?t=1503883210888#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1503883210888') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1503883210888') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1503883210888#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangdajing:before { content: "\e605"; }

.icon-tupian:before { content: "\e61c"; }

.icon-aixin:before { content: "\e641"; }

.icon-sousuo:before { content: "\e69d"; }

.icon-pinglun:before { content: "\e61a"; }

.icon-yanjing:before { content: "\e612"; }

.icon-xiasanjiaoxing:before { content: "\e609"; }

.icon-erweima:before { content: "\e60c"; }

.icon-fanhui:before { content: "\e600"; }

.icon-gengduo:before { content: "\e601"; }

.icon-jian:before { content: "\e6ae"; }

.icon-jia:before { content: "\e6ce"; }

.icon-bofang:before { content: "\e61d"; }

.icon-jiantoushang:before { content: "\e62c"; }

