$mar: 0 auto;
$wid: 1080px;
$fl: left;
$fr: right;
$in_bl:inline-block;
#container {
    width: 100%;
    height: 100%;
    margin: $mar;
}

@mixin sanjiao($top, $left) {
    position: absolute;
    top: $top;
    left: $left;
    width: 22px;
    height: 11px;
    margin-left: -11px;
    background: url(../images/jiantou.png);
}

@mixin menu($top, $left, $width, $height) {
    position: absolute;
    top: $top;
    left: $left;
    z-index: 9999;
    width: $width;
    height: $height;
    background-color: #fff;
    border: 1px #cecece solid;
}

@mixin mask($width, $height) {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: $width;
    height: $height;
    transition: all 0.5s;
    background: url(../images/mask.png);
}

@mixin logo() {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 60px;
    color: #000;
    opacity: 0.4;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    border-radius: 14px;
    background-color: #fff;
}

.none {
    display: none;
}

.block {
    display: block;
}

.bgcolor {
    background-color: #fff;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    background: url(../images/reg.jpg) center top no-repeat rgb(36, 98, 135); //?????
} //************************************
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 89px;
    background-color: #fff;
    border-bottom: 1px solid #F5F5F5;
    .header {
        position: relative;
        width: $wid;
        height: 89px;
        margin: $mar;
        >a {
            float: $fl;
            margin-top: 20px;
            margin-right: 25px;
        }
        >ul {
            float: $fl;
            line-height: 89px;
            >li {
                display: $in_bl;
                margin-right: 10px;
                a {
                    color: #8a929f;
                }
                .iconfont {
                    font-size: 12px;
                    color: #bec5cf;
                }
            }
            .menu1 {
                @include menu(88px, 0, 920px, 280px);
                span {
                    @include sanjiao(-11px, 250px);
                }
                >ul {
                    float: $fl;
                    width: 200px;
                    height: 260px;
                    padding-top: 20px;
                    background-color: #f4f4f4;
                    li {
                        line-height: 40px;
                        text-align: center;
                    }
                }
                div {
                    position: relative;
                    float: $fl;
                    width: 690px;
                    height: 228px;
                    padding-left: 15px;
                    img {
                        display: block;
                        //不处理会有间隙？？
                        width: 210px;
                        height: 132px;
                        margin-left: 10px;
                    }
                    ul {
                        position: absolute;
                        top: 0;
                        left: 15px;
                    }
                    ul li {
                        float: $fl;
                        width: 230px;
                        padding-top: 30px;
                        h4 {
                            width: 210px;
                            line-height: 16px;
                            font-size: 12px;
                            text-align: left;
                            margin: $mar;
                            padding-top: 18px;
                        }
                    }
                }
            }
            .menu2 {
                @include menu(88px, 175px, 300px, 185px);
                >span {
                    @include sanjiao(-11px, 50%);
                }
                li {
                    height: 92px;
                    border-bottom: 1px #e8ecf5 solid;
                    overflow: hidden;
                    a {
                        display: block;
                        width: 190px;
                        height: 48px;
                        font-size: 18px;
                        line-height: 24px; //没有行高文字在最低处显示
                        color: #C5C5C5;
                        padding-left: 110px;
                        margin-top: 25px;
                        background: url('../images/nogreen.gif') no-repeat 40px 5px;
                        span {
                            font-weight: bold;
                            letter-spacing: 3px;
                        }
                        p {
                            font-size: 14px;
                            letter-spacing: 5px;
                        }
                        &:hover {
                            color: #46ca71;
                            background: url('../images/green.gif') no-repeat 40px 5px;
                        }
                    }
                }
            }
            .menu3 {
                position: absolute;
                top: 88px;
                left: 295px;
                width: 200px;
                height: 163px;
                border: 1px #cecece solid;
                background-color: #fff;
                //@include menu(88px,295px,200px,163px);
                //err
                span {
                    @include sanjiao(-11px,
                    50%);
                }
                li {
                    text-align: center;
                    line-height: 40px;
                    border-bottom: 1px #e8ecf5 solid;
                    a {
                        color: #707070;
                    }
                    &:hover {
                        background-color: #f5f5f5;
                    }
                    &:hover a {
                        color: gray;
                    }
                }
            }
            .menu4 {
                left: 340px;
                height: 122px;
            }
        }
        .head-search {
            float: $fr;
            width: 170px;
            height: 30px;
            margin-top: 28px;
            border: 1px solid #E6E7EB;
            input {
                float: $fl;
                width: 130px;
                height: 30px;
                padding-left: 12px;
            }
            i {
                float: $fl;
                width: 24px;
                height: 30px;
                color: #bec5cf;
                line-height: 30px;
                font-weight: 800;
                cursor: pointer;
            }
        }
        .login {
            position: relative;
            float: $fr;
            margin-top: 25px;
            margin-left: 20px;
            &:hover .menu {
                display: block;
            }
            >img {
                width: 35px;
                height: 35px;
                padding: 0 5px;
                border-radius: 50%;
            }
            div {
                position: absolute;
                top: 45px;
                left: -140px;
                width: 176px;
                height: 143px;
                padding-bottom: 10px;
                border: 1px #CECECE solid;
                background-color: #fff;
                img {
                    float: $fl;
                    width: 40px;
                    margin: 15px 10px 15px 20px;
                }
                h3 {
                    float: $fl;
                    line-height: 70px;
                }
                ul {
                    width: 136px;
                    margin: $mar;
                    clear: both;
                    li {
                        line-height: 36px;
                        border-top: 1px #ddd solid;
                        a {
                            color: #707070;
                            &:hover {
                                color: #4385f5;
                            }
                        }
                    }
                }
            }
            span {
                @include sanjiao(35px,
                16px);
            }
        }
    }
}

main {
    width: 390px;
    height: 502px;
    color: #fff;
    margin: $mar;
    margin-top: 120px;
    .tabName {
        line-height: 92px;
        font-size: 28px;
        text-align: center;
    }
    >p {
        margin-bottom: 10px;
    }
    .logoImg {
        height: 40px;
        //line-height: 40px;
        //text-align: center; //???
        li {
            //display: $in_bl;  mengqi
            float: $fl;
            width: 45.5px;
            height: 38px;
            padding-left: 7.5px;
        }
    }
    .split {
        clear: both;
        line-height: 20px;
        text-align: center;
        margin: 15px 0;
        background: url(../images/reg-line.png) no-repeat;
    }
    .tab {
        height: 45px;
        margin-bottom: 15px;
        .bg-fff {
            background-color: #fff;
            opacity: 1;
        }
        a {
            //display: $in_bl;
            float: $fl;
            width: 161px;
            height: 23px;
            font-size: 18px;
            text-align: center;
            color: #707070;
            border-radius: 6px;
            padding: 10px 16px;
            background-color: #fff;
            opacity: .6;
            border: 1px solid #ccc;
            &:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            &:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            &:hover {
                background-color: #e6e6e6;
                border-color: #adadad;
                opacity: 1;
            }
        }
    }
    .form {
        color: #333;
        font-size: 16px;
        .show {
            display: block;
        }
        form {
            display: none;
            >div {
                height: 50px;
                line-height: 50px;
                margin-bottom: 6.5px;
                background: url(../images/input.png) no-repeat;
                input {
                    width: 273px;
                    color: #999;
                }
                .msg {
                    width: 172px;
                    +a {
                        color: #707070;
                        font-size: 14px;
                        &:hover {
                            color: #333;
                        }
                    }
                }
                span {
                    display: $in_bl;
                    width: 97px;
                    text-align: center;
                }
            }
            .test {
                position: relative;
                >div {
                    position: absolute;
                    top: 11px;
                    left: 82px;
                    width: 261px;
                    height: 28px;
                    line-height: 28px;
                    background: url(../images/test.png) no-repeat;
                    span {
                        position: absolute;
                        top: -9px;
                        left: 0;
                        width: 44px;
                        height: 44px;
                        border-radius: 13px;
                        background: url(../images/test.png) no-repeat 0 -84px;
                    }
                    i {
                        position: absolute;
                        top: 2px;
                        right: -35px;
                        width: 26px;
                        height: 26px;
                        background: url(../images/test.png) no-repeat 0 -1152.5px;
                    }
                }
            }
            >input {
                width: 390px;
                height: 46px;
                color: #fff;
                font-size: 20px;
                margin: 15px 0;
                background: url(../images/submit.png);
            }
        }
    }
    .link {
        line-height: 50px;
        font-size: 14px;
        text-align: center;
        letter-spacing: 5px;
        a {
            color: #fff;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
