#container {
  width: 100%;
  margin: 0 auto;
}

.hide {
  display: none;
}

.opacity {
  opacity: 0.5;
}

header {
  width: 100%;
  height: 360px;
  margin-bottom: 60px;
  background: url(../images/list-bg.jpeg) center center/100% no-repeat;
}

header > p {
  height: 28px;
  padding-top: 30px;
  margin-left: 58px;
}

header .pinpx {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

header .pinpx img {
  display: inline-block;
}

header form {
  width: 60%;
  height: 49px;
  margin: 0 auto;
}

header form > span {
  float: left;
  width: 48px;
  height: 49px;
  cursor: pointer;
}

header form > span:first-child {
  margin-right: 6px;
  background: url(../images/list-icon.png) no-repeat;
}

header form > span:nth-child(2) {
  position: relative;
}

header form > span:nth-child(2) i {
  display: inline-block;
  width: 48px;
  height: 49px;
  background: url(../images/list-conditions.png) no-repeat;
}

header form > span:nth-child(2) > div {
  position: absolute;
  top: 63px;
  left: -140px;
  width: 600px;
  height: 258px;
  padding: 40px 60px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header form > span:nth-child(2) > div:after {
  content: " ";
  position: absolute;
  top: -13px;
  left: 158px;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 0 9px 13px 9px;
  border-bottom-color: white;
}

header form > span:nth-child(2) > div ul li {
  float: left;
  width: 190px;
  color: #878787;
  font-weight: bold;
  cursor: pointer;
  margin: 6px 10px 6px 0;
}

header form > span:nth-child(2) > div ul li:hover {
  color: #1e1e1e;
}

header form > div {
  position: relative;
  float: right;
  width: 758px;
  height: 33px;
  padding: 8px 15px;
  border-radius: 5px;
  background-color: #fff;
}

header form > div .inp1 {
  width: 707px;
  height: 22px;
  color: #555;
  font-size: 14px;
  padding: 6px 12px;
}

header form > div .inp2 {
  position: absolute;
  top: 7px;
  right: 12px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.06);
}

header form > div .inp2 + span {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
  cursor: pointer;
}

header form > div .inp2 + span .iconfont {
  font-size: 20px;
}

header .keywords {
  height: 20px;
  text-align: center;
  color: #fff;
  margin-top: 24px;
  z-index: 99;
}

header .keywords a {
  color: #fff;
  margin-right: 7px;
}

header .keywords a:hover {
  text-decoration: underline;
}

header .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 360px;
}

header .fixed-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 1519px;
  height: 49px;
  padding: 5px 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.17);
}

header .fixed-bar img {
  width: 180px;
  height: 36px;
}

header .fixed-bar a {
  position: absolute;
  top: 13px;
  left: 80px;
}

main {
  position: relative;
  width: 1234px;
  height: auto;
  margin: 0 auto;
}

main .order li {
  position: relative;
  width: 286px;
  height: 375px;
  float: left;
  margin: 0 10px 30px 10px;
  border: 1px solid #dae0e6;
  border-radius: 5px;
}

main .order li > div:before {
  content: " ";
  position: absolute;
  top: -5px;
  width: 100%;
  height: 101%;
  border: 1px solid #dae0e6;
  border-radius: 5px;
}

main .order li > div:after {
  content: " ";
  position: absolute;
  top: -10px;
  width: 100%;
  height: 102%;
  border: 1px solid #dae0e6;
  border-radius: 5px;
}

main .order li .img-a {
  display: block;
  text-align: center;
  padding: 12px;
}

main .order li img {
  width: 262px;
  height: 262px;
}

main .order li h5 {
  width: 269px;
  height: 42px !important;
  line-height: 20px !important;
  font-weight: 700;
  margin: 0 auto;
  letter-spacing: 0.5px;
}

main .order li h5 a {
  color: #121212;
}

main .order li h5 a:hover {
  color: #51aded;
}

main .order li p {
  width: 269px;
  color: #aab4bc;
  font-size: 12px;
  margin: 12px auto 0;
}

main .order li p span {
  margin-right: 10px;
}

main .order li p .iconfont {
  font-size: 20px;
}

main .unorder li {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  border: 1px solid #ddd;
}

main .unorder li img {
  width: 260px;
}

main .unorder li div {
  position: absolute;
  bottom: -45px;
  left: 0;
  width: 240px;
  height: 25px;
  color: #8b929f;
  padding: 10px;
  background-color: #fff;
  transition: all 0.5s ease;
}

main .unorder li div h5 {
  width: 95%;
  line-height: 25px;
  color: #8b929f;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: url(../images/aixin.png) no-repeat right center;
}

main .unorder li:hover div {
  bottom: 0;
}

.hash {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 38px;
  height: 76px;
  background-color: #fff;
  border: 1px solid #eee;
  border-top: none;
}

.hash li {
  line-height: 37px;
  text-align: center;
  border-top: 1px solid #eee;
}

.hash li:last-child:hover p {
  opacity: 1;
}

.hash li p {
  position: fixed;
  bottom: 30px;
  right: 67px;
  opacity: 0;
  transition: opacity 1s;
  border: 1px solid #eee;
}

.hash li .iconfont {
  font-size: 24px;
  color: #bec5cf;
}
