#container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background: url(../images/reg.jpg) center top no-repeat #246287;
}

main {
  width: 390px;
  height: 502px;
  color: #fff;
  margin: 0 auto;
  margin-top: 120px;
}

main .tabName {
  line-height: 92px;
  font-size: 28px;
  text-align: center;
}

main > p {
  margin-bottom: 10px;
}

main .logoImg {
  height: 40px;
}

main .logoImg li {
  float: left;
  width: 45.5px;
  height: 38px;
  padding-left: 7.5px;
}

main .split {
  clear: both;
  line-height: 20px;
  text-align: center;
  margin: 15px 0;
  background: url(../images/reg-line.png) no-repeat;
}

main .tab {
  height: 45px;
  margin-bottom: 15px;
}

main .tab .bg-fff {
  background-color: #fff;
}

main .tab a {
  float: left;
  width: 161px;
  height: 23px;
  font-size: 18px;
  text-align: center;
  color: #707070;
  border-radius: 6px;
  padding: 10px 16px;
  background-color: #a6becd;
  border: 1px solid #ccc;
}

main .form {
  color: #333;
  font-size: 16px;
}

main .form .show {
  display: block;
}

main .form form {
  display: none;
}

main .form form > div {
  height: 50px;
  line-height: 50px;
  margin-bottom: 6.5px;
  background: url(../images/input.png) no-repeat;
}

main .form form > div input {
  width: 273px;
  color: #999;
}

main .form form > div .msg {
  width: 172px;
}

main .form form > div .msg + a {
  color: #707070;
  font-size: 14px;
}

main .form form > div .msg + a:hover {
  color: #333;
}

main .form form > div span {
  display: inline-block;
  width: 97px;
  text-align: center;
}

main .form form .test > div {
  position: relative;
  display: inline-block;
  width: 261px;
  height: 28px;
  line-height: 28px;
  background: url(../images/test.png) no-repeat;
}

main .form form .test > div span {
  position: absolute;
  top: -9px;
  left: 0;
  width: 44px;
  height: 44px;
  border-radius: 13px;
  background: url(../images/test.png) no-repeat 0 -84px;
}

main .form form .test > div i {
  position: absolute;
  top: 2px;
  right: -35px;
  width: 26px;
  height: 26px;
  background: url(../images/test.png) no-repeat 0 -1152.5px;
}

main .form form > input {
  width: 390px;
  height: 46px;
  color: #fff;
  font-size: 20px;
  margin: 15px 0;
  background: url(../images/submit.png);
}

main .link {
  line-height: 50px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 5px;
}

main .link a {
  color: #fff;
}

main .link a:hover {
  text-decoration: underline;
}
