#container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.none {
  display: none;
}

.block {
  display: block;
}

.bgcolor {
  background-color: #fff;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background: url(../images/reg.jpg) center top no-repeat #246287;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 89px;
  background-color: #fff;
  border-bottom: 1px solid #F5F5F5;
}

header .header {
  position: relative;
  width: 1080px;
  height: 89px;
  margin: 0 auto;
}

header .header > a {
  float: left;
  margin-top: 20px;
  margin-right: 25px;
}

header .header > ul {
  float: left;
  line-height: 89px;
}

header .header > ul > li {
  display: inline-block;
  margin-right: 10px;
}

header .header > ul > li a {
  color: #8a929f;
}

header .header > ul > li .iconfont {
  font-size: 12px;
  color: #bec5cf;
}

header .header > ul .menu1 {
  position: absolute;
  top: 88px;
  left: 0;
  z-index: 9999;
  width: 920px;
  height: 280px;
  background-color: #fff;
  border: 1px #cecece solid;
}

header .header > ul .menu1 span {
  position: absolute;
  top: -11px;
  left: 250px;
  width: 22px;
  height: 11px;
  margin-left: -11px;
  background: url(../images/jiantou.png);
}

header .header > ul .menu1 > ul {
  float: left;
  width: 200px;
  height: 260px;
  padding-top: 20px;
  background-color: #f4f4f4;
}

header .header > ul .menu1 > ul li {
  line-height: 40px;
  text-align: center;
}

header .header > ul .menu1 div {
  position: relative;
  float: left;
  width: 690px;
  height: 228px;
  padding-left: 15px;
}

header .header > ul .menu1 div img {
  display: block;
  width: 210px;
  height: 132px;
  margin-left: 10px;
}

header .header > ul .menu1 div ul {
  position: absolute;
  top: 0;
  left: 15px;
}

header .header > ul .menu1 div ul li {
  float: left;
  width: 230px;
  padding-top: 30px;
}

header .header > ul .menu1 div ul li h4 {
  width: 210px;
  line-height: 16px;
  font-size: 12px;
  text-align: left;
  margin: 0 auto;
  padding-top: 18px;
}

header .header > ul .menu2 {
  position: absolute;
  top: 88px;
  left: 175px;
  z-index: 9999;
  width: 300px;
  height: 185px;
  background-color: #fff;
  border: 1px #cecece solid;
}

header .header > ul .menu2 > span {
  position: absolute;
  top: -11px;
  left: 50%;
  width: 22px;
  height: 11px;
  margin-left: -11px;
  background: url(../images/jiantou.png);
}

header .header > ul .menu2 li {
  height: 92px;
  border-bottom: 1px #e8ecf5 solid;
  overflow: hidden;
}

header .header > ul .menu2 li a {
  display: block;
  width: 190px;
  height: 48px;
  font-size: 18px;
  line-height: 24px;
  color: #C5C5C5;
  padding-left: 110px;
  margin-top: 25px;
  background: url("../images/nogreen.gif") no-repeat 40px 5px;
}

header .header > ul .menu2 li a span {
  font-weight: bold;
  letter-spacing: 3px;
}

header .header > ul .menu2 li a p {
  font-size: 14px;
  letter-spacing: 5px;
}

header .header > ul .menu2 li a:hover {
  color: #46ca71;
  background: url("../images/green.gif") no-repeat 40px 5px;
}

header .header > ul .menu3 {
  position: absolute;
  top: 88px;
  left: 295px;
  width: 200px;
  height: 163px;
  border: 1px #cecece solid;
  background-color: #fff;
}

header .header > ul .menu3 span {
  position: absolute;
  top: -11px;
  left: 50%;
  width: 22px;
  height: 11px;
  margin-left: -11px;
  background: url(../images/jiantou.png);
}

header .header > ul .menu3 li {
  text-align: center;
  line-height: 40px;
  border-bottom: 1px #e8ecf5 solid;
}

header .header > ul .menu3 li a {
  color: #707070;
}

header .header > ul .menu3 li:hover {
  background-color: #f5f5f5;
}

header .header > ul .menu3 li:hover a {
  color: gray;
}

header .header > ul .menu4 {
  left: 340px;
  height: 122px;
}

header .header .head-search {
  float: right;
  width: 170px;
  height: 30px;
  margin-top: 28px;
  border: 1px solid #E6E7EB;
}

header .header .head-search input {
  float: left;
  width: 130px;
  height: 30px;
  padding-left: 12px;
}

header .header .head-search i {
  float: left;
  width: 24px;
  height: 30px;
  color: #bec5cf;
  line-height: 30px;
  font-weight: 800;
  cursor: pointer;
}

header .header .login {
  position: relative;
  float: right;
  margin-top: 25px;
  margin-left: 20px;
}

header .header .login:hover .menu {
  display: block;
}

header .header .login > img {
  width: 35px;
  height: 35px;
  padding: 0 5px;
  border-radius: 50%;
}

header .header .login div {
  position: absolute;
  top: 45px;
  left: -140px;
  width: 176px;
  height: 143px;
  padding-bottom: 10px;
  border: 1px #CECECE solid;
  background-color: #fff;
}

header .header .login div img {
  float: left;
  width: 40px;
  margin: 15px 10px 15px 20px;
}

header .header .login div h3 {
  float: left;
  line-height: 70px;
}

header .header .login div ul {
  width: 136px;
  margin: 0 auto;
  clear: both;
}

header .header .login div ul li {
  line-height: 36px;
  border-top: 1px #ddd solid;
}

header .header .login div ul li a {
  color: #707070;
}

header .header .login div ul li a:hover {
  color: #4385f5;
}

header .header .login span {
  position: absolute;
  top: 35px;
  left: 16px;
  width: 22px;
  height: 11px;
  margin-left: -11px;
  background: url(../images/jiantou.png);
}

main {
  width: 390px;
  height: 502px;
  color: #fff;
  margin: 0 auto;
  margin-top: 120px;
}

main .tabName {
  line-height: 92px;
  font-size: 28px;
  text-align: center;
}

main > p {
  margin-bottom: 10px;
}

main .logoImg {
  height: 40px;
}

main .logoImg li {
  float: left;
  width: 45.5px;
  height: 38px;
  padding-left: 7.5px;
}

main .split {
  clear: both;
  line-height: 20px;
  text-align: center;
  margin: 15px 0;
  background: url(../images/reg-line.png) no-repeat;
}

main .tab {
  height: 45px;
  margin-bottom: 15px;
}

main .tab .bg-fff {
  background-color: #fff;
  opacity: 1;
}

main .tab a {
  float: left;
  width: 161px;
  height: 23px;
  font-size: 18px;
  text-align: center;
  color: #707070;
  border-radius: 6px;
  padding: 10px 16px;
  background-color: #fff;
  opacity: .6;
  border: 1px solid #ccc;
}

main .tab a:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

main .tab a:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

main .tab a:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
  opacity: 1;
}

main .form {
  color: #333;
  font-size: 16px;
}

main .form .show {
  display: block;
}

main .form form {
  display: none;
}

main .form form > div {
  height: 50px;
  line-height: 50px;
  margin-bottom: 6.5px;
  background: url(../images/input.png) no-repeat;
}

main .form form > div input {
  width: 273px;
  color: #999;
}

main .form form > div .msg {
  width: 172px;
}

main .form form > div .msg + a {
  color: #707070;
  font-size: 14px;
}

main .form form > div .msg + a:hover {
  color: #333;
}

main .form form > div span {
  display: inline-block;
  width: 97px;
  text-align: center;
}

main .form form .test {
  position: relative;
}

main .form form .test > div {
  position: absolute;
  top: 11px;
  left: 82px;
  width: 261px;
  height: 28px;
  line-height: 28px;
  background: url(../images/test.png) no-repeat;
}

main .form form .test > div span {
  position: absolute;
  top: -9px;
  left: 0;
  width: 44px;
  height: 44px;
  border-radius: 13px;
  background: url(../images/test.png) no-repeat 0 -84px;
}

main .form form .test > div i {
  position: absolute;
  top: 2px;
  right: -35px;
  width: 26px;
  height: 26px;
  background: url(../images/test.png) no-repeat 0 -1152.5px;
}

main .form form > input {
  width: 390px;
  height: 46px;
  color: #fff;
  font-size: 20px;
  margin: 15px 0;
  background: url(../images/submit.png);
}

main .link {
  line-height: 50px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 5px;
}

main .link a {
  color: #fff;
}

main .link a:hover {
  text-decoration: underline;
}
